.header {
	background: green;
	padding: 10px 0;
}
.header__container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

.header__cart {
	padding: 11px 24px 11px 20px;
	cursor: pointer;
	background-color: #67C674;
	border-radius: 20px;
	position: relative;
	display: flex;
}
.header__cart-img {
	background: url(../../imgs/cart.svg) no-repeat;
	width: 14px;
	height: 11px;
	position: relative;
	margin: auto 0;
}
.header__cart-img:before {
	content: "";
	position: absolute;
	top: 11.5px;
	bottom: 0;
	right: 0;
	left: 5px;
	width: 2.33px;
	height: 2.33px;
	background: #fff;
	border-radius: 50%;
}
.header__cart-img:after {
	content: "";
	position: absolute;
	top: 11.5px;
	bottom: 0;
	right: 0;
	left: 9.6px;
	width: 2.33px;
	height: 2.33px;
	background: #fff;
	border-radius: 50%;
}
.header__logo {
	background: url(../../imgs/logo.svg) no-repeat;
	width: 126px;
	height: 26px;
	margin: auto 0;
}
.header__counter {
	background-color: #FFCF1B;
	width: 24px;
	height: 14px;
	font-size: 8px;
	border-radius: 20px;
	border: 1px solid #67C674;
	position: absolute;
	z-index: 2;
	display: flex;
	top: 6.9px;
	left: 25px;
}
.header__quantity {
	display: block;
	margin: auto;
}
.header__price {
	margin-left: 20px;
	font-size: 14px;
	color: #fff;
}