.sidebar {
	border-right: 1px solid #EFEFEF;
}
.sidebar__title {
	margin: 30px 0 45px 30px;
}
.sidebar__category {
	padding-left: 30px; 
	cursor: pointer;
}
.sidebar__category:hover {
	border-left: 2px solid #45B759;
	color: #45B759;
}