.products__item {
	width: 176px;
	height: 302px;
	background-color: #fff;
	border: 1px solid #efefef;
	padding: 20px 17px;
	position: relative;
}
.products__price {
	display: block;
	margin-top: 69px;
	font-size: 18px;
}
.products__name {
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 18px;
	max-width: 150px;
	overflow: hidden;
}
.products__price > span {
	font-size: 13px;
}
.products__weight {
	text-align: end;
	color: #B4B4B4;
	font-size: 14px;
	position: absolute;
	bottom: 10px;
	right: 15px;
}
.products__picture{
	display: flex;
	justify-content: center;
}
.products__img {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
}
